<!DOCTYPE html>

<html>
<head>
    <title>Big shope trang chu</title>
    <link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="~/Assets/Admin/Fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/libs/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/StyleSheetCustom.css" rel="stylesheet" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   

</head>
<body>
   @{ Html.RenderAction("Header", "Home");}
    <!---->
    <div class="container">
        @RenderBody()

    @{ Html.RenderAction("Category", "Home");}
        <div class="clearfix"> </div>
    </div>
    <!---->
  @{Html.RenderAction("Footer", "Home");} 

    <script src="~/Assets/Client/js/jquery.min.js"></script>
    <script src="~/Assets/Admin/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Assets/Admin/js/common.js"></script>
    <!--script-->
    @RenderSection("JsFooter",required:false)
</body>
</html>
