
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="Mymodule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="schoolController">
      <juno-shop-directive></juno-shop-directive>
        <button ng-click="checkNumber()">check number</button>
        <br />
        {{message}}
    </div>
    
</body>
</html>
